<div class="container">
  <h1>My Courses</h1>
  <p class="lead text-muted">Here are the courses you have created and are enrolled in.
    Keep track of your progress and continue learning!
  </p>

  <!-- Displaying created courses -->
  <% if @created_courses.any? %>
    <h3>Your Created Courses</h3>
    <div class="row">
      <% @created_courses.each do |course| %>
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= course.title %></h5>
              <%= link_to 'View Course', course_path(course), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You have not created any courses yet.</p>
  <% end %>

  <!-- Displaying enrolled courses -->
  <% if @enrolled_courses.any? %>
    <h3>Your Enrolled Courses</h3>
    <div class="row">
      <% @enrolled_courses.each do |course| %>
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= course.title %></h5>
              <%= link_to 'View Course', course_path(course), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You are not enrolled in any courses.</p>
  <% end %>
</div>