<nav aria-label="breadcrumb">
<ol class="breadcrumb p-3 mb-4 rounded" style="background-color: #f8f9fa;">
    <li class="breadcrumb-item"><%= link_to 'All Courses', courses_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Create a New Course</li>
  </ol>
</nav>
<h1>Create a New Course</h1>
<p class="lead">Fill in the details below to create your course. Make it informative and engaging for your students!</p>

<%= render 'form', course: @course %>

