<footer class="footer bg-dark text-light text-center py-3 mt-auto">
  <div class="container">

    <p>&copy; <%= Time.current.year %> Course Platform. All Rights Reserved.</p>

    <p>
      <a href="https://github.com/beatricebretti" target="_blank" class="text-light">beatricebretti</a> |
      <a href="https://github.com/m-esp" target="_blank" class="text-light">m-esp</a> |
      <a href="https://github.com/roelckers" target="_blank" class="text-light">roelckers</a>
    </p>
  </div>
</footer>